body {
    background: url(background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.mainContainer {
    height: 700px;
    width: 450px;
    background: rgba(46, 44, 44, 0.9);
    border-radius: 10px;
}

.addTaskBox {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    padding: 10px;
}

#taskContainer {
    width: 450px;
    
}


.taskRows {
    display: grid;
    gap: 10px;
    grid-template-columns: 2fr 1fr;
}

